@charset "UTF-8";
@font-face {
  font-family: "magenerds";
  src:url("../fonts/magenerds.eot");
  src:url("../fonts/magenerds.eot?#iefix") format("embedded-opentype"),
    url("../fonts/magenerds.woff") format("woff"),
    url("../fonts/magenerds.ttf") format("truetype"),
    url("../fonts/magenerds.svg#magenerds") format("svg");
  font-weight: normal;
  font-style: normal;
}
.admin__menu .item-magenerds > a:before {
  font-size: 5.2rem !important;
  font-family: "magenerds" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e001" !important;
  padding-bottom: 5.3rem !important;
}
.admin__menu .item-magenerds > a {
  padding-top: 0 !important;
}