<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2017 Magenerds
 * All rights reserved
 *
 * This product includes proprietary software developed at Magenerds, Germany
 * For more information see http://www.mageneds.com/
 *
 * To obtain a valid license for using this software please contact us at
 * info@magenerds.com
 */

/**
 * @copyright  Copyright (c) 2017 Magenerds (http://www.magenerds.com)
 * @link       http://www.magenerds.com/
 * @author     Florian Sydekum <info@magenerds.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magenerds_Dashboard::dashboard" title="Magenerds" sortOrder="10" >
                    <resource id="Magenerds_Dashboard::index" title="Magenerds" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>