<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2017 Magenerds
 * All rights reserved
 *
 * This product includes proprietary software developed at Magenerds, Germany
 * For more information see http://www.mageneds.com/
 *
 * To obtain a valid license for using this software please contact us at
 * info@magenerds.com
 */

/**
 * @copyright  Copyright (c) 2017 Magenerds (http://www.magenerds.com)
 * @link       http://www.magenerds.com/
 * @author     Florian Sydekum <info@magenerds.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="magenerds" frontName="magenerds">
            <module name="Magenerds_Dashboard" before="Magento_Adminhtml"/>
        </route>
    </router>
</config>
